[submodule "minecraft"]
	path = minecraft
	url = https://github.com/yudejp/minecraft.git
[submodule "dtv/epgstation/EPGS-to-Discord-v2"]
	path = dtv/epgstation/EPGS-to-Discord-v2
	url = https://github.com/yude/EPGS-to-Discord-v2.git
[submodule "playground"]
	path = playground
	url = git@github.com:yudejp/playground.git
