# AutoMuteUs
automuteus/db
automuteus/logs
automuteus/redis
automuteus/.env

# Gitea
gitea/data

# h5ai
h5ai/.github

# markov-note
markov-note/data
markov-note/.env

# Nextcloud
nextcloud/data

# Portainer
portainer/data

# ShadowbanAlerts
shadowbanalerts/.env
shadowbanalerts/ShadowbanAlerts.json

# switchbot-discord
switchbot-discord/.env

# Misc
*.log
logs
*.u
*.crt
*.key
*.pub
*.key-staging

# Jellyfin
jellyfin/config

# HVCAN
hvcan/.env
hvcan/nginx/html
hvcan/pleroma/volumes
hvcan/pleroma/.env
hvcan/pleroma/environments/pleroma/pleroma.env

# Prometheus
prometheus/data
prometheus/.env

# Grafana
grafana/data

# Overleaf
overleaf/data

# np2bio
np2bio/.env

# np2mast
np2mast/.env

# ai
ai/.env
ai/data

# youbine
youbine/data
youbine/.env

# inubot-discord
inubot-discord/.env
inubot-discord/data/tweets.txt

# prometheus
prometheus/prometheus/data
prometheus/snmp-exporter/mibs

# navidrome
navidrome/data

# KonomiTV
konomitv/cap
konomitv/data