global
       daemon
       maxconn 10000

defaults
       timeout connect 500s
       timeout client 5000s
       timeout server 1h

frontend sshd
       bind *:22
       default_backend ssh
       timeout client 1h

backend ssh
       mode tcp
       server cloud-shell cloud-shell:22
